<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contacts | Bridge Me</title>

  <%- include('../partials/head.ejs') %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/admin">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/admin/contacts">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/contents/index">Contents</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container mt-5">
    <h2>Contacts List</h2>
    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < contacts.length; i++) { %>
          <tr>
            <td><%= contacts[i].fullname %></td>
            <td><%= contacts[i].email %></td>
            <td><%= contacts[i].message %></td>
            <td><%= moment(contacts[i].created_at).format('MM/DD/YYYY') %></td>
            <td><a href="mailto:<%= contacts[i].email %>" class="badge bg-primary text-decoration-none">Contact Customer</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>