<div class="features" id="features">
  <img src="/media/shapes/features-shape.svg" alt="">

  <div class="features-fix">
    <div class="features-wrap">
      <div class="container">
        <h2><%= contents.features.titleFeatures %></h2>
        <p><%= contents.features.textFeatures %></p>

        <div class="row mt-5">
          <div class="col-lg-6 col-xl-4">
            <div class="card" data-aos="zoom-in" data-aos-duration="1500">
              <img src="<%= contents.features.feature1.image %>" alt="<%= contents.features.feature1.title %>" />
              <h2><%= contents.features.feature1.title %></h2>
              <p><%= contents.features.feature1.text %></p>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="card" data-aos="zoom-in" data-aos-duration="1500">
              <img src="<%= contents.features.feature2.image %>" alt="<%= contents.features.feature2.title %>" />
              <h2><%= contents.features.feature2.title %></h2>
              <p><%= contents.features.feature2.text %></p>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="card" data-aos="zoom-in" data-aos-duration="1500">
              <img src="<%= contents.features.feature3.image %>" alt="<%= contents.features.feature3.title %>" />
              <h2><%= contents.features.feature3.title %></h2>
              <p><%= contents.features.feature3.text %></p>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="card" data-aos="zoom-in" data-aos-duration="1500">
              <img src="<%= contents.features.feature4.image %>" alt="<%= contents.features.feature4.title %>" />
              <h2><%= contents.features.feature4.title %></h2>
              <p><%= contents.features.feature4.text %></p>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="card" data-aos="zoom-in" data-aos-duration="1500">
              <img src="<%= contents.features.feature5.image %>" alt="<%= contents.features.feature5.title %>" />
              <h2><%= contents.features.feature5.title %></h2>
              <p><%= contents.features.feature5.text %></p>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="card" data-aos="zoom-in" data-aos-duration="1500">
              <img src="<%= contents.features.feature6.image %>" alt="<%= contents.features.feature6.title %>" />
              <h2><%= contents.features.feature6.title %></h2>
              <p><%= contents.features.feature6.text %></p>
            </div>
          </div>
        </div>

        <a href="<%= contents.features.linkFeatures %>" class="btn btn-primary btn-circle"><%= contents.features.linkTextFeatures %></a>
      </div>
    </div>
  </div>
</div>