<div class="how-it-work" id="how-it-work">
  <div class="container">
    <div class="how-it-work-wrap">
      <h2><%= contents.howork.titleHowWork %></h2>
      <p><%= contents.howork.textHowWork %></p>

      <div class="row" id="anchor-hiw">
        <div class="col-md-5" data-aos="flip-right" data-aos-duration="1500">
          <div class="how-it-work-card">
            <span class="number">1</span>
            <img src="<%= contents.howork.howWork1.image %>" alt="<%= contents.howork.howWork1.title %>">
            <h3><%= contents.howork.howWork1.title %></h3>
            <p><%= contents.howork.howWork1.text %></p>
          </div>
        </div>
        <div class="col-md-5" data-aos="flip-right" data-aos-duration="1500">
          <div class="how-it-work-card">
            <span class="number">2</span>
            <img src="<%= contents.howork.howWork2.image %>" alt="<%= contents.howork.howWork2.title %>">
            <h3><%= contents.howork.howWork2.title %></h3>
            <p><%= contents.howork.howWork2.text %></p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <img class="circle" src="/media/shapes/circle.svg" alt="Circle">
        </div>
        <div class="col-md-5" data-aos="flip-left" data-aos-duration="1500">
          <div class="how-it-work-card">
            <span class="number">3</span>
            <img src="<%= contents.howork.howWork3.image %>" alt="<%= contents.howork.howWork3.title %>">
            <h3><%= contents.howork.howWork3.title %></h3>
            <p><%= contents.howork.howWork3.text %></p>
          </div>
        </div>
        <div class="col-md-5" data-aos="flip-left" data-aos-duration="1500">
          <div class="how-it-work-card">
            <span class="number">4</span>
            <img src="<%= contents.howork.howWork4.image %>" alt="<%= contents.howork.howWork4.title %>">
            <h3><%= contents.howork.howWork4.title %></h3>
            <p><%= contents.howork.howWork4.text %></p>
          </div>
        </div>
      </div>

      <a href="<%= contents.howork.linkHowWork %>" class="btn btn-primary btn-circle"><%= contents.howork.linkTextHowWork %></a>
    </div>
  </div>
</div>