<div class="why-bridge" id="why-bridge">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-6" data-aos="fade-right">
        <img src="<%= contents.whyBridge.imageWhyBridge %>" alt="Why Bridge?" />
      </div>
      <div class="col-lg-7 col-xl-6">
        <div class="why-bridge-wrap">
          <h2><%= contents.whyBridge.titleWhyBridge %></h2>
          
          <div class="row">
            <div class="col-6">
              <div class="focus" data-aos="fade-left">
                <div class="focus-icon"><img src="<%= contents.whyBridge.card1.image %>" alt="SMARTER"></div>
                <div class="focus-copy">
                  <h3><%= contents.whyBridge.card1.title %></h3>
                  <p><%= contents.whyBridge.card1.text %></p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="focus" data-aos="fade-left">
                <div class="focus-icon"><img src="<%= contents.whyBridge.card2.image %>" alt="PERSONAL"></div>
                <div class="focus-copy">
                  <h3><%= contents.whyBridge.card2.title %></h3>
                  <p><%= contents.whyBridge.card2.text %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="focus" data-aos="fade-left">
                <div class="focus-icon"><img src="<%= contents.whyBridge.card3.image %>" alt="SECURE"></div>
                <div class="focus-copy">
                  <h3><%= contents.whyBridge.card3.title %></h3>
                  <p><%= contents.whyBridge.card3.text %></p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="focus" data-aos="fade-left">
                <div class="focus-icon"><img src="<%= contents.whyBridge.card4.image %>" alt="PLATONIC"></div>
                <div class="focus-copy">
                  <h3><%= contents.whyBridge.card4.title %></h3>
                  <p><%= contents.whyBridge.card4.text %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>