<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bridge - Smarter Way to Make New Friends</title>

  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./components/navbar.ejs') %>
  <%- include('./components/cover.ejs') %>
  
  <%- include('./sections/why-bridge.ejs') %>
  
  <div  class="banner-separetor">
    <img class="circle" src="/media/shapes/circle.svg" alt="circle">
    <img  class="background" src="/media/shapes/section-2.svg" alt="line">
  </div>

  
  <%- include('./sections/features.ejs') %>
  <%- include('./sections/how-it-work.ejs') %>
  <%- include('./sections/review.ejs') %>
  <%- include('./sections/signup.ejs') %>

  <%- include('./components/footer.ejs') %>
</body>
</html>